<!doctype html>
<html ng-app="handkeTexter">
    <head>
        <meta charset="utf-8">
        <base href="/">
        <title>Handke Texter</title>
    </head>
    <body layout="column">
        <md-toolbar layout="row"
            ng-controller="NavigationCtrl"
            ng-show="showNav">
            <div class="md-toolbar-tools">
                <h2>Handke Texter</h2>
                <span flex></span>
                <md-menu>
                    <md-button class="md-icon-button"
                        aria-label="settings"
                        ng-click="$mdOpenMenu()">
                        <ng-md-icon icon="menu"
                            style="fill: #fff"
                            size="40"
                            md-menu-align-target>
                        </ng-md-icon>
                    </md-button>
                    <md-menu-content class="nav-menu">
                        <md-menu-item ng-repeat="item in navItems"
                            flex layout="column">
                            <md-button class="md-primary"
                                ui-sref="{{ item.sref }}">
                                <ng-md-icon icon="{{ item.icon }}"
                                    style="fill: #F44336"
                                    size="16">
                                </ng-md-icon>
                                {{ item.name }}
                            </md-button>
                            <md-divider></md-divider>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

        <div layout="row" flex ui-view></div>
        <script src="http://localhost:8000/socket.io/socket.io.js">

        </script>
        <script src="dist/bundle.js" charset="utf-8"></script>
    </body>
</html>
